.wrapper{
    display: flex;
    gap: 1.25rem;
}
.icon-container {
    position: relative; /* Permite que o badge seja posicionado em relação ao ícone */
    display: inline-block;
  }
  
  .material-icons {
    font-size: 32px; /* Ajuste o tamanho do ícone conforme necessário */
  }
  
  .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    
    background-color: #d61515f1; /* Cor do fundo do badge */
    
    border-radius: 50%; /* Faz o badge ser circular */
    padding: 4px 4px; /* Ajuste o tamanho do badge */

    min-width: 5px; /* Largura mínima do badge */
    min-height: 10px; /* Altura do badge */
    
    box-sizing: border-box;
}
  
