::ng-deep .custom-input .mat-mdc-text-field-wrapper {
    height: 2.9rem !important;
    flex: none !important;
    will-change: unset !important;
    align-items: center;
}


::ng-deep .custom-input .mat-mdc-form-field-flex{
    align-items: start;    
        
}

::ng-deep .custom-input .mat-mdc-form-field-infix{
    align-items: start;           
}

mat-form-field {
    width: 35rem;
    min-width: 200px;
}

@media (max-width: 1024px) {
    mat-form-field {
        width: 24rem;
        min-width: 150px;
    }
}

@media (max-width: 768px) {
    mat-form-field {
        width: 16rem;
        min-width: 120px;
    }
}

@media (max-width: 480px) {
    mat-form-field {
        width: 100%;
        max-width: 120px;
        min-width: 80px;
    }
}



/* ::ng-deep .custom-input .mat-mdc-input-element{
    border: none !important; 
    pointer-events: none;
}
   */


  
