<header><app-navbar></app-navbar></header>
<app-title-description class="teste"></app-title-description>
<div class="articles">
    <div class="articles__main">
        <app-big-card 
        photoCover="https://github.com/gknpp23/Angular-Developer-Training-DIO/blob/main/angular-blog/src/assets/image/photo_1.png?raw=true"
        cardTitle="Teste"
        cardDescription="Texto"
        >
        </app-big-card>
    </div>
    <div class="articles__additional">

        <app-small-card 
        smallPhotoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" 
        smallCardTitle="teste"
        >
        </app-small-card>

        <app-small-card 
        smallPhotoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" 
        smallCardTitle="teste"
        >
        </app-small-card>

        <app-small-card 
        smallPhotoCover="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg" 
        smallCardTitle="teste"
        >
        </app-small-card>
    </div>
</div>

