<header><app-navbar></app-navbar></header>
<app-title-description class="teste"></app-title-description>
<div class="articles">
    <div class="articles__main">
        <app-big-card 
        textLabel="Who's"
        bgColorLabel="linear-gradient(135deg, #b90101, #C98508)"
        photoCover="https://avatars.githubusercontent.com/u/47991004?s=400&u=6214c973447aff091b334f1af0a55994151a0c22&v=4"
        cardTitle="Quem sou eu ? "
        cardDescription="Um pouco mais sobre mim"
        >
        </app-big-card>
    </div>
    <div class="articles__additional">

        <app-small-card 
        textLabel = "Leitura"
        bgColorLabel="linear-gradient(135deg, #3B191E, #FA0B16)"
        smallPhotoCover="https://github.com/gknpp23/Angular-Developer-Training-DIO/blob/main/angular-blog/src/assets/image/image_01.jpg?raw=true" 
        smallCardTitle="Livros bãos"
        >
        </app-small-card>

        <app-small-card 
        textLabel="Rádio pião"
        bgColorLabel="linear-gradient(135deg, #121578, #a3313a)"
        smallPhotoCover="https://github.com/gknpp23/Angular-Developer-Training-DIO/blob/main/angular-blog/src/assets/image/image_02.jpg?raw=true" 
        smallCardTitle="Tá na boca do povo"
        >
        </app-small-card>

        <app-small-card 
        textLabel="Geral"
        bgColorLabel="linear-gradient(135deg, #ba5018, #7d131c)"
        smallPhotoCover="https://github.com/gknpp23/Angular-Developer-Training-DIO/blob/main/angular-blog/src/assets/image/image_03.jpg?raw=true" 
        smallCardTitle="Uma luz no fim do túnel"
        >
        </app-small-card>
    </div>
</div>

