@media (max-width:900px){
    .articles{
        
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
       
    }

}
.articles{
    margin: 0 10%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
   
}

.articles__additional{
    display: flex;
    flex-direction: column;
    gap:2rem
}