.container-card{
    height: 85vh !important;
    width: 90vw !important;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr; 
    grid-template-rows: 1fr;
    column-gap: 12px;
    background-color: #15181E;
    border: none !important;
    
}

.big-card{
    /* transform: scaleX(-1); //Espelhando imagem para que inverta a posição */
    
    background-image: 
    url('https://github.com/gknpp23/Angular-Developer-Training-DIO/blob/main/angular-steam/logo-stray.png?raw=true'),
    url('https://github.com/gknpp23/Angular-Developer-Training-DIO/raw/main/angular-steam/stray-hero-cat-background-block-desktop-01-ps4-ps5-en-13jun22.webp');
    
    background-position: 
      center,
      center;

    background-size: 
      75%,
      cover;

    background-repeat: 
      no-repeat,
      no-repeat;

    
    
    
    
    
}