<mat-card class="container-card" appearance="outlined">

  <mat-card class="big-card">
    <mat-card-header>
    
      <mat-chip-set aria-label="game categories">
  
        <mat-chip>
          <app-big-card-game-label></app-big-card-game-label>
        </mat-chip>
        <mat-chip>
          <app-big-card-game-label></app-big-card-game-label>
        </mat-chip>
        <mat-chip>
          <app-big-card-game-label></app-big-card-game-label>
        </mat-chip>
  
      </mat-chip-set>
  
      <!-- <mat-card-title>Title</mat-card-title> -->
    </mat-card-header>
  
    <mat-card-content>
      
    </mat-card-content>
  
    <mat-card-footer class="example-card-footer">
  
      
  
    </mat-card-footer>
  </mat-card>

  <div style="display: flex; flex-direction: column;">
    <app-small-card-game></app-small-card-game>
    <div style="display: flex; gap:15px;">
      <app-small-card-simple></app-small-card-simple>
      <app-small-card-simple></app-small-card-simple>
    </div>
    
  </div>
  
  
    
</mat-card>
