/* You can add global styles to this file, and also import other style files */
* {
    
    
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
    background-color: #262626;
    color: #ffff;
}

a {
    text-decoration: none;
}
