.big-card__container{
    width: 25rem;
    height: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1.75px #b9010177 solid;
}
.big-card__title{
    padding: 1.5rem;
}


.big-card__picture > img{
    
    padding: 1.5rem 0;
    margin-top: 25px;
    /* border: 1.5px #b9010177 solid; */
    min-width: auto;
   
     
   
}
.big-card__title > h2{
    font-size: 1.25rem;
    margin: 15px 0 10px 0
}
.big-card__title > p > a{
    color: #c2c2c2;
    font-size: smaller;
} 