<div class="big-card__container">
    <div class="big-card__picture">
        <img 
        src={{photoCover}} 
        alt="Image"
        width="350px"
        height="300px"
        >
    </div>

    <div class="big-card__title">
        <app-label textLabel="Main"></app-label>
        <a href=""></a>
        <h2><a href="">{{ cardTitle }}</a></h2>
        <p>
            <a href="">
                {{ cardDescription }}
            </a>
            
        </p>
    </div>

    <div class="big-card__description">

    </div>
</div>
