@media (max-width:800px) {
    
    .navbar__container{
    
        display: flex;
        justify-content: center;
        width: 100%;   
        height: 8vh;
        padding: 0;
    }
    
    .navbar-links__container{
        display: none;
                
    }
   
}