.navbar__container{
    
    display: flex;
    justify-content: space-between;
   
    height: 10vh;
}

.navbar-links__container{
    
    color: #ffffff;
    padding: 1.25rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navbar-links__container li a{
    
    color: #ffffff;
}
.navbar-links__container img{
    width: 0.5rem;
    background-image: url('/home/gabriel/Cursos - Estudos/Bootcamps - DIO/Angular-Developer-Training-DIO/angular-blog/src/assets/image/logo.png');
}